<template>
  <div>
    <header
      id="fh5co-header"
      class="fh5co-cover bg-wedding-cover-1"
      role="banner"
      data-stellar-background-ratio="0.5"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
              <client-only>
                <div class="display-tc animate-box" data-animate-effect="fadeIn">
                  <h1>Andri &amp; Novel</h1>
                  <h2>We Are Getting Married</h2>
                  <div class="simply-countdown simply-countdown-one"></div>
                  <p v-if="$store.state.guest.guestDetails.rsvp !== 'Y'">
                    <a v-if="Object.keys($route.query).length !== 0" href="#fh5co-started" class="btn btn-default btn-sm">Reservation</a>
<!--                    <nuxt-link to="/services" class="btn btn-default btn-sm">test</nuxt-link>-->
                  </p>
                </div>
              </client-only>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="fh5co-couple">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <h2>Hello!</h2>
            <h3>November 1st, 2020 Bandung, Jawa Barat</h3>
            <p>We invited you to celebrate our wedding</p>
          </div>
        </div>
        <div class="couple-wrap animate-box">
          <div class="couple-half">
            <div class="groom">
              <img src="images/andri-novel/profile-man.png" alt="groom" class="img-responsive" />
            </div>
            <div class="desc-groom">
              <h3>Andri</h3>
              <p>The First Son of Three Siblings of <br><strong>Mr. Petrus Gunawan Sandjaja / Tan Kian Tie</strong> (+) and <strong>Mrs. Lia Rafaela Maria / Chou Chai Ie</strong></p>
            </div>
          </div>
          <p class="heart text-center">
            <i class="icon-heart2"></i>
          </p>
          <div class="couple-half">
            <div class="bride">
              <img src="images/andri-novel/profile-woman.png" alt="groom" class="img-responsive" />
            </div>
            <div class="desc-bride">
              <h3>Novel</h3>
              <p>The First Daughter of Two Siblings of<br> <strong>Mr. Wong Sudrajat / Wong Kiat Tong / Akiat</strong> and <strong>Mrs. Lenny / Liu Chai Chen</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-event" class="fh5co-bg" style="background-image:url(images/andri-novel/bg-wedding-event.jpg); padding-top: 50px;">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <span>Our Special Events</span>
            <h2>Wedding Events</h2>
          </div>
        </div>
        <div class="row">
          <div class="display-t">
            <div class="display-tc">
              <div class="col-md-10 col-md-offset-1">
                <div class="col-md-6 col-sm-6 text-center">
                  <div class="event-wrap animate-box">
                    <h3>Holy Matrimony (Family Only)</h3>
                    <div class="cold-12">
                      <div class="event-col">
                        <i class="icon-clock"></i>
                        <span>--:-- </span>
                        <span>--:-- </span>
                      </div>
                      <div class="event-col">
                        <i class="icon-calendar"></i>
                        <span>Sunday 1</span>
                        <span>November, 2020</span>
                      </div>
                    </div>

                    <p>Gereja Bunda Tujuh Kedukaan (Pandu)<br>Jl. Pandu  No. 4 Bandung</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 text-center">
                  <div class="event-wrap animate-box">
                    <h3>Wedding Dinner / Cia Ciu</h3>
                    <div class="event-col">
                      <i class="icon-clock"></i>
                      <span>17:30 WIB</span>
                      <span>Till End</span>
                    </div>
                    <div class="event-col">
                      <i class="icon-calendar"></i>
                      <span>Sunday 1</span>
                      <span>November, 2020</span>
                    </div>
                    <p>Grand Ballroom - Hilton Hotel<br>Jl. Hos Tjokroaminoto No. 41-43 Bandung</p>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 text-center mt-5">
                  <div class="event-wrap animate-box">
<!--                    <h3>Wedding Party</h3>-->
<!--                    <div class="event-col">-->
<!--                      <i class="icon-clock"></i>-->
<!--                      <span>7:00 PM</span>-->
<!--                      <span>12:00 AM</span>-->
<!--                    </div>-->
<!--                    <div class="event-col">-->
<!--                      <i class="icon-calendar"></i>-->
<!--                      <span>Sunday 1</span>-->
<!--                      <span>November, 2020</span>-->
<!--                    </div>-->
                    <p class="text-left">
                      Our joy will be complete with your presence and blessing<br>
                      Cordially Yours,<br>
                      Fam. of Petrus Gunawan Sandjaja(+)
                      <span class="float-right">Fam. of Wong Sudrajat</span><br>
                      <span class="text-center">Taking part to invite: <span class="mobile-view font-weight-bold">Mr. Herryto Tjia & Mrs. Anne Suhandojo,</span></span>
                      <span class="text-center join-invite">Mr. Austra Gandaputra & Mrs. Anny Suhandojo,</span>
                    </p>
                    <p class="text-left"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--    <div id="fh5co-couple-story">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div v-if="submitAttend === false" class="col-md-12 animate-box">-->
<!--            <h3>Reservation Form</h3>-->
<!--            <form action="#">-->
<!--              <div class="row form-group">-->
<!--                <div class="col-md-12">-->
<!--                  <label for="fname">Guest Name</label>-->
<!--                  <input-->
<!--                    v-model="guestName"-->
<!--                    type="text"-->
<!--                    id="fname"-->
<!--                    class="form-control"-->
<!--                    placeholder="Your name"-->
<!--                  />-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="row form-group">-->
<!--                <div class="col-md-12">-->
<!--                  <label for="email">Guest Phone Number</label>-->
<!--                  <input-->
<!--                    v-model="guestPhoneNumber"-->
<!--                    type="text"-->
<!--                    id="phonenumber"-->
<!--                    class="form-control"-->
<!--                    placeholder="Your phonenumber"-->
<!--                  />-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="row form-group">-->
<!--                <div class="col-md-12">-->
<!--                  <label for="subject">Guest Partner Name</label>-->
<!--                  <input-->
<!--                    v-model="guestPartnerName"-->
<!--                    type="text"-->
<!--                    id="subject"-->
<!--                    class="form-control"-->
<!--                    placeholder="Your partner name"-->
<!--                  />-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="row form-group">-->
<!--                <div class="col-md-12">-->
<!--                  <label for="subject">Number of Pax</label>-->
<!--                  <input-->
<!--                    v-model="numberPax"-->
<!--                    type="text"-->
<!--                    id="subject"-->
<!--                    class="form-control"-->
<!--                    placeholder="number of pax"-->
<!--                    value="1"-->
<!--                  />-->
<!--                  <span class="text-secondary text-sm">including your self</span>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="row form-group">-->
<!--                <div class="col-md-12">-->
<!--                  <label for="subject">Email</label>-->
<!--                  <input-->
<!--                    v-model="email"-->
<!--                    type="text"-->
<!--                    id="email"-->
<!--                    class="form-control"-->
<!--                    placeholder="Email"-->
<!--                  />-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group">-->
<!--                <input type="button" value="NOT ATTEND" class="btn btn-danger" />-->
<!--                <input-->
<!--                  type="button"-->
<!--                  @click="submitAttend = true"-->
<!--                  value="ATTEND"-->
<!--                  class="btn btn-primary"-->
<!--                  :disabled="!guestName"-->
<!--                />-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--          <div v-else class="col-md-12 animate-box">-->
<!--            <div-->
<!--              style="display:flex; justify-content: center; text-align: center; width: 100%; flex-direction: column; align-items: center"-->
<!--            >-->
<!--              <h1>Thank you {{guestName}}</h1>Terimakasih telah bersedia hadir pada acara pernikahan Nope & Rory-->
<!--              <br />Gunakan Barcode dibawah ini saat anda hadir pada acara pernikahan.-->
<!--              <br />-->
<!--              <qrcode :value="guestName" :options="{ width: 400 }"></qrcode>-->
<!--              <span>Screen Capture dan simpan Barcode ini untuk menghadiri acara pernikahan</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div id="fh5co-gallery" class="fh5co-section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <span>Our Memories</span>
            <h2>Wedding Gallery</h2>
<!--            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
          </div>
        </div>
        <div class="row row-bottom-padded-md">
          <div class="col-md-12">
            <ul id="fh5co-gallery-list">
              <li
                class="one-third animate-box"
                data-animate-effect="fadeIn"
                style="background-image: url(images/andri-novel/gallery-1.jpg); "
              >
                <a href="images/gallery-1.jpg">
                  <div class="case-studies-summary">
<!--                    <span>14 Photos</span>-->
<!--                    <h2>Two Glas of Juice</h2>-->
                  </div>
                </a>
              </li>
<!--              <li-->
<!--                class="one-third animate-box"-->
<!--                data-animate-effect="fadeIn"-->
<!--                style="background-image: url(images/andri-novel/gallery-2.jpg); "-->
<!--              >-->
<!--                <a href="#" class="color-2">-->
<!--                  <div class="case-studies-summary">-->
<!--&lt;!&ndash;                    <span>30 Photos</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <h2>Timer starts now!</h2>&ndash;&gt;-->
<!--                  </div>-->
<!--                </a>-->
<!--              </li>-->

<!--              <li-->
<!--                class="one-third animate-box"-->
<!--                data-animate-effect="fadeIn"-->
<!--                style="background-image: url(images/andri-novel/gallery-3.jpg); "-->
<!--              >-->
<!--                <a href="#" class="color-3">-->
<!--                  <div class="case-studies-summary">-->
<!--&lt;!&ndash;                    <span>90 Photos</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <h2>Beautiful sunset</h2>&ndash;&gt;-->
<!--                  </div>-->
<!--                </a>-->
<!--              </li>-->
              <li
                class="one-third animate-box"
                data-animate-effect="fadeIn"
                style="background-image: url(images/andri-novel/gallery-4.jpg); "
              >
                <a href="#" class="color-4">
                  <div class="case-studies-summary">
<!--                    <span>12 Photos</span>-->
<!--                    <h2>Company's Conference Room</h2>-->
                  </div>
                </a>
              </li>

              <li
                class="one-third animate-box"
                data-animate-effect="fadeIn"
                style="background-image: url(images/andri-novel/gallery-5.jpg); "
              >
                <a href="#" class="color-3">
                  <div class="case-studies-summary">
<!--                    <span>50 Photos</span>-->
<!--                    <h2>Useful baskets</h2>-->
                  </div>
                </a>
              </li>
              <li
                class="one-third animate-box"
                data-animate-effect="fadeIn"
                style="background-image: url(images/andri-novel/gallery-6.jpg); "
              >
                <a href="#" class="color-4">
                  <div class="case-studies-summary">
<!--                    <span>45 Photos</span>-->
<!--                    <h2>Skater man in the road</h2>-->
                  </div>
                </a>
              </li>

<!--              <li-->
<!--                class="one-third animate-box"-->
<!--                data-animate-effect="fadeIn"-->
<!--                style="background-image: url(images/andri-novel/gallery-7.jpg); "-->
<!--              >-->
<!--                <a href="#" class="color-4">-->
<!--                  <div class="case-studies-summary">-->
<!--&lt;!&ndash;                    <span>35 Photos</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <h2>Two Glas of Juice</h2>&ndash;&gt;-->
<!--                  </div>-->
<!--                </a>-->
<!--              </li>-->

              <li
                class="one-third animate-box"
                data-animate-effect="fadeIn"
                style="background-image: url(images/andri-novel/gallery-8.jpg); "
              >
                <a href="#" class="color-5">
                  <div class="case-studies-summary">
<!--                    <span>90 Photos</span>-->
<!--                    <h2>Timer starts now!</h2>-->
                  </div>
                </a>
              </li>
<!--              <li-->
<!--                class="one-third animate-box"-->
<!--                data-animate-effect="fadeIn"-->
<!--                style="background-image: url(images/andri-novel/gallery-9.jpg); "-->
<!--              >-->
<!--                <a href="#" class="color-6">-->
<!--                  <div class="case-studies-summary">-->
<!--&lt;!&ndash;                    <span>56 Photos</span>&ndash;&gt;-->
<!--&lt;!&ndash;                    <h2>Beautiful sunset</h2>&ndash;&gt;-->
<!--                  </div>-->
<!--                </a>-->
<!--              </li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>

<!--    <div-->
<!--      id="fh5co-counter"-->
<!--      class="fh5co-bg fh5co-counter"-->
<!--      style="background-image:url(images/img_bg_5.jpg);"-->
<!--    >-->
<!--      <div class="overlay"></div>-->

<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="display-t">-->
<!--            <div class="display-tc">-->
<!--              <div class="col-md-3 col-sm-6 animate-box">-->
<!--                <div class="feature-center">-->
<!--                  <span class="icon">-->
<!--                    <i class="icon-users"></i>-->
<!--                  </span>-->

<!--                  <span-->
<!--                    class="counter js-counter"-->
<!--                    data-from="0"-->
<!--                    data-to="500"-->
<!--                    data-speed="5000"-->
<!--                    data-refresh-interval="50"-->
<!--                  >1</span>-->
<!--                  <span class="counter-label">Estimated Guest</span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-3 col-sm-6 animate-box">-->
<!--                <div class="feature-center">-->
<!--                  <span class="icon">-->
<!--                    <i class="icon-user"></i>-->
<!--                  </span>-->

<!--                  <span-->
<!--                    class="counter js-counter"-->
<!--                    data-from="0"-->
<!--                    data-to="1000"-->
<!--                    data-speed="5000"-->
<!--                    data-refresh-interval="50"-->
<!--                  >1</span>-->
<!--                  <span class="counter-label">We Catter</span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-3 col-sm-6 animate-box">-->
<!--                <div class="feature-center">-->
<!--                  <span class="icon">-->
<!--                    <i class="icon-calendar"></i>-->
<!--                  </span>-->
<!--                  <span-->
<!--                    class="counter js-counter"-->
<!--                    data-from="0"-->
<!--                    data-to="402"-->
<!--                    data-speed="5000"-->
<!--                    data-refresh-interval="50"-->
<!--                  >1</span>-->
<!--                  <span class="counter-label">Events Done</span>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-3 col-sm-6 animate-box">-->
<!--                <div class="feature-center">-->
<!--                  <span class="icon">-->
<!--                    <i class="icon-clock"></i>-->
<!--                  </span>-->

<!--                  <span-->
<!--                    class="counter js-counter"-->
<!--                    data-from="0"-->
<!--                    data-to="2345"-->
<!--                    data-speed="5000"-->
<!--                    data-refresh-interval="50"-->
<!--                  >1</span>-->
<!--                  <span class="counter-label">Hours Spent</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div id="fh5co-testimonial">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="row animate-box">-->
<!--            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">-->
<!--              <span>Best Wishes</span>-->
<!--              <h2>Friends Wishes</h2>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-md-12 animate-box">-->
<!--              <div class="wrap-testimony">-->
<!--                <div class="owl-carousel-fullwidth">-->
<!--                  <div class="item">-->
<!--                    <div class="testimony-slide active text-center">-->
<!--                      <figure>-->
<!--                        <img src="images/couple-1.jpg" alt="user" />-->
<!--                      </figure>-->
<!--                      <span>-->
<!--                        John Doe, via-->
<!--                        <a href="#" class="twitter">Twitter</a>-->
<!--                      </span>-->
<!--                      <blockquote>-->
<!--                        <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics"</p>-->
<!--                      </blockquote>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="item">-->
<!--                    <div class="testimony-slide active text-center">-->
<!--                      <figure>-->
<!--                        <img src="images/couple-2.jpg" alt="user" />-->
<!--                      </figure>-->
<!--                      <span>-->
<!--                        John Doe, via-->
<!--                        <a href="#" class="twitter">Twitter</a>-->
<!--                      </span>-->
<!--                      <blockquote>-->
<!--                        <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, at the coast of the Semantics, a large language ocean."</p>-->
<!--                      </blockquote>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="item">-->
<!--                    <div class="testimony-slide active text-center">-->
<!--                      <figure>-->
<!--                        <img src="images/couple-3.jpg" alt="user" />-->
<!--                      </figure>-->
<!--                      <span>-->
<!--                        John Doe, via-->
<!--                        <a href="#" class="twitter">Twitter</a>-->
<!--                      </span>-->
<!--                      <blockquote>-->
<!--                        <p>"Far far away, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>-->
<!--                      </blockquote>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div id="fh5co-services" class="fh5co-section-gray">-->
<!--      <div class="container">-->
<!--        <div class="row animate-box">-->
<!--          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">-->
<!--            <h2>We Offer Services</h2>-->
<!--            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--          <div class="col-md-6">-->
<!--            <div class="feature-left animate-box" data-animate-effect="fadeInLeft">-->
<!--              <span class="icon">-->
<!--                <i class="icon-calendar"></i>-->
<!--              </span>-->
<!--              <div class="feature-copy">-->
<!--                <h3>We Organized Events</h3>-->
<!--                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="feature-left animate-box" data-animate-effect="fadeInLeft">-->
<!--              <span class="icon">-->
<!--                <i class="icon-image"></i>-->
<!--              </span>-->
<!--              <div class="feature-copy">-->
<!--                <h3>Photoshoot</h3>-->
<!--                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="feature-left animate-box" data-animate-effect="fadeInLeft">-->
<!--              <span class="icon">-->
<!--                <i class="icon-video"></i>-->
<!--              </span>-->
<!--              <div class="feature-copy">-->
<!--                <h3>Video Editing</h3>-->
<!--                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-md-6 animate-box">-->
<!--            <div class="fh5co-video fh5co-bg" style="background-image: url(images/img_bg_3.jpg); ">-->
<!--              <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo">-->
<!--                <i class="icon-video2"></i>-->
<!--              </a>-->
<!--              <div class="overlay"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <AttendingFooter />
  </div>
</template>

<script>
export default {
  async validate({params, query, store}) {
    // console.log(Object.keys(store.state.event.detailEvent).length)
    if (Object.keys(query).length !== 0) {
      await store.dispatch('guest/getGuest', query.barcode)
    }
    // store.dispatch('guest/')
    return params.wedding === 'andrinovel' // jika params valid
    // return false // akan mencegah Nuxt.js untuk me-render rute dan menampilkan halaman kesalahan
  },
  methods: {
    test(){
      this.$nuxt.$router.push('/services')
    }
  }
};
</script>

<style scoped>
  .bg-wedding-cover-1{
    background-image:url(/images/andri-novel/foto1-min.jpg);
  }
  .mt-5{
    margin-top: 20px;
  }

  .float-right{
    float: right;
  }

  .join-invite{
    margin-left: 58px;
  }

  .wedding-event{
    padding-top: 50px;
  }

  @media screen and (max-width: 768px) {
    .bg-wedding-cover-1{
      background-image:url(/images/andri-novel/bg-wedding-mobile.jpg);
    }
    .float-right{
      float: inherit;
    }

    .join-invite{
      margin-left: 2px;
    }

    .mobile-view{
      display:block;
    }
  }
</style>
