<template>
  <div>
    <header
      id="fh5co-header"
      class="fh5co-cover bg-wedding-cover-1"
      role="banner"
      data-stellar-background-ratio="0.5"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
              <client-only>
                <div class="display-tc animate-box" data-animate-effect="fadeIn">
                  <h1>Thank you</h1>
                  <h2 v-if="this.$store.state.guest.guestDetails.rsvp === 'Y'">Your reservation for our wedding has been successful and please wait for further information from us.
                    We will send a Wedding Invitation to you via the WhatsApp Application.</h2>
                  <h2 v-else>If you change your mind and you want to attend our wedding, you can make a reservation again via the link we sent via WhatsApp.</h2>
                  <div class="simply-countdown simply-countdown-one"></div>
                  <p>
<!--                    <a href="#fh5co-started" class="btn btn-default btn-sm">Reservation</a>-->
                  </p>
                </div>
              </client-only>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
export default {
  async validate({params, query, store, $axios}) {
    if (Object.keys(query).length !== 0) {
      await store.dispatch('guest/getGuest', query.barcode)
    }
    // console.log(Object.keys(query).length)
    // console.log(Object.keys(query).length === 0)
    // store.dispatch('guest/')
    return params.wedding === 'andrinovel' // jika params valid
    // return false // akan mencegah Nuxt.js untuk me-render rute dan menampilkan halaman kesalahan
  },
  mounted() {
    // this.guestName = this.$store.state.guest.guestDetails.guest_name
    // this.numberPax = this.$store.state.guest.guestDetails.guest_name
    // this.email = this.$store.state.guest.guestDetails.guest_name
    // this.guestName = this.$store.state.guest.guestDetails.guest_name
    console.log(this.$store.state.guest.guestDetails.rsvp)
  }
};
</script>

<style scoped>
  .bg-wedding-cover-1{
    background-image:url(/images/andri-novel/foto1-min.jpg);
  }
  .mt-5{
    margin-top: 20px;
  }

  .float-right{
    float: right;
  }

  .join-invite{
    margin-left: 58px;
  }

  .wedding-event{
    padding-top: 50px;
  }

  @media screen and (max-width: 768px) {
    .bg-wedding-cover-1{
      background-image:url(/images/andri-novel/bg-wedding-mobile.jpg);
    }
    .float-right{
      float: inherit;
    }

    .join-invite{
      margin-left: 2px;
    }

    .mobile-view{
      display:block;
    }
  }
</style>
