<template>
  <div>
    <header
      id="fh5co-header"
      class="fh5co-cover bg-wedding-cover-1"
      role="banner"
      data-stellar-background-ratio="0.5"
    >
      <div class="overlay"></div>
      <div class="fh5co-container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
              <client-only>
                <div class="display-tc animate-box" data-animate-effect="fadeIn">
                  <h1>Andri &amp; Novel</h1>
                  <h2>We Are Getting Married</h2>
                  <div class="simply-countdown simply-countdown-one"></div>
                  <p v-if="$store.state.guest.guestDetails.rsvp !== 'Y'">
                    <a v-if="Object.keys($route.query).length !== 0" href="#fh5co-started" class="btn btn-default btn-sm">Reservation</a>
                    <!--                    <nuxt-link to="/services" class="btn btn-default btn-sm">test</nuxt-link>-->
                  </p>
                </div>
              </client-only>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="fh5co-couple" class="fh5co-section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <h2>Hello!</h2>
            <h3>November 1st, 2020 Bandung, Jawa Barat</h3>
            <p>We invited you to celebrate our wedding</p>
          </div>
        </div>
        <div class="couple-wrap animate-box">
          <div class="couple-half">
            <div class="groom">
              <img src="/images/andri-novel/profile-man.png" alt="groom" class="img-responsive" />
            </div>
            <div class="desc-groom">
              <h3>Andri</h3>
              <p>The First Son of Three Siblings of <br><strong>Mr. Petrus Gunawan Sandjaja / Tan Kian Tie</strong> (+) and <strong>Mrs. Lia Rafaela Maria / Chou Chai Ie</strong></p>
            </div>
          </div>
          <p class="heart text-center">
            <i class="icon-heart2"></i>
          </p>
          <div class="couple-half">
            <div class="bride">
              <img src="/images/andri-novel/profile-woman.png" alt="groom" class="img-responsive" />
            </div>
            <div class="desc-bride">
              <h3>Novel</h3>
              <p>The First Daughter of Two Siblings of<br> <strong>Mr. Wong Sudrajat / Wong Kiat Tong / Akiat</strong> and <strong>Mrs. Lenny / Liu Chai Chen</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-gallery">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <span>Our Memories</span>
            <h2>Wedding Gallery</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
        <div class="row row-bottom-padded-md">
          <div class="col-md-12">
            <ul id="fh5co-gallery-list">
              <li v-for="(img, index) in $store.state.event.listImages" :key="index"
                class="one-third animate-box"
                data-animate-effect="fadeIn"
                :style="`
                background-image: url(${$store.state.setting.pathImagesWedding+$route.params.wedding}/${img.images});
                `"
              >
                <a @click="openImages(img.images)" href="javascript:void(0);">
                  <div class="case-studies-summary">
<!--                    <span>14 Photos</span>-->
                    <h2>{{img.guest_name}}</h2>
                  </div>
                </a>
              </li>
<!--              <li-->
<!--                class="one-third animate-box"-->
<!--                data-animate-effect="fadeIn"-->
<!--                style="background-image: url(images/gallery-2.jpg); "-->
<!--              >-->
<!--                <a href="#" class="color-2">-->
<!--                  <div class="case-studies-summary">-->
<!--                    <span>30 Photos</span>-->
<!--                    <h2>Timer starts now!</h2>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </li>-->

<!--              <li-->
<!--                class="one-third animate-box"-->
<!--                data-animate-effect="fadeIn"-->
<!--                style="background-image: url(images/gallery-3.jpg); "-->
<!--              >-->
<!--                <a href="#" class="color-3">-->
<!--                  <div class="case-studies-summary">-->
<!--                    <span>90 Photos</span>-->
<!--                    <h2>Beautiful sunset</h2>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li-->
<!--                class="one-third animate-box"-->
<!--                data-animate-effect="fadeIn"-->
<!--                style="background-image: url(images/gallery-4.jpg); "-->
<!--              >-->
<!--                <a href="#" class="color-4">-->
<!--                  <div class="case-studies-summary">-->
<!--                    <span>12 Photos</span>-->
<!--                    <h2>Company's Conference Room</h2>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </li>-->

<!--              <li-->
<!--                class="one-third animate-box"-->
<!--                data-animate-effect="fadeIn"-->
<!--                style="background-image: url(images/gallery-5.jpg); "-->
<!--              >-->
<!--                <a href="#" class="color-3">-->
<!--                  <div class="case-studies-summary">-->
<!--                    <span>50 Photos</span>-->
<!--                    <h2>Useful baskets</h2>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li-->
<!--                class="one-third animate-box"-->
<!--                data-animate-effect="fadeIn"-->
<!--                style="background-image: url(images/gallery-6.jpg); "-->
<!--              >-->
<!--                <a href="#" class="color-4">-->
<!--                  <div class="case-studies-summary">-->
<!--                    <span>45 Photos</span>-->
<!--                    <h2>Skater man in the road</h2>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </li>-->

<!--              <li-->
<!--                class="one-third animate-box"-->
<!--                data-animate-effect="fadeIn"-->
<!--                style="background-image: url(images/gallery-7.jpg); "-->
<!--              >-->
<!--                <a href="#" class="color-4">-->
<!--                  <div class="case-studies-summary">-->
<!--                    <span>35 Photos</span>-->
<!--                    <h2>Two Glas of Juice</h2>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </li>-->

<!--              <li-->
<!--                class="one-third animate-box"-->
<!--                data-animate-effect="fadeIn"-->
<!--                style="background-image: url(images/gallery-8.jpg); "-->
<!--              >-->
<!--                <a href="#" class="color-5">-->
<!--                  <div class="case-studies-summary">-->
<!--                    <span>90 Photos</span>-->
<!--                    <h2>Timer starts now!</h2>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </li>-->
<!--              <li-->
<!--                class="one-third animate-box"-->
<!--                data-animate-effect="fadeIn"-->
<!--                style="background-image: url(images/gallery-9.jpg); "-->
<!--              >-->
<!--                <a href="#" class="color-6">-->
<!--                  <div class="case-studies-summary">-->
<!--                    <span>56 Photos</span>-->
<!--                    <h2>Beautiful sunset</h2>-->
<!--                  </div>-->
<!--                </a>-->
<!--              </li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <AttendingFooter />
    <modal name="example"
          height="auto"
    >
      <div><p class="text-center">Note : Click image for rotate</p></div>
      <div class="gfg" :style="`transform: rotate(${rotation}deg);`">
        <img :src="imagesUrl" @click="rotate" />
      </div>
    </modal>
  </div>
</template>

<script>
export default {
  // async validate({params, query, store}) {
    // console.log(store.state.event.detailEvent)
    // if (Object.keys(query).length !== 0) {
    //   await store.dispatch('guest/getGuest', query.barcode)
    // }else{
    //   return params.wedding === 'andrinovel'
    // }
    // store.dispatch('guest/')
    // return params.wedding === 'andrinovel' // jika params valid
    // return false // akan mencegah Nuxt.js untuk me-render rute dan menampilkan halaman kesalahan
  // },
  data: () => ({
    imagesUrl: '',
    rotation: 0,
    window: {
      width: 0,
      height: 0
    }
    // modalHeight: 'auto',
    // modalWidth: 'auto'
  }),
  async fetch({store}) {
    await store.dispatch('event/getListImages', store.state.event.detailEvent.id)
    // console.log(store.state.event.detailEvent.event_unique_id)
  },
  mounted() {
    window.addEventListener('resize', this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize);
  },
  methods: {
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
    },
    openImages(images_name){
      if (this.window.width > 700){
        this.imagesUrl = `${this.$store.state.setting.pathImagesWedding+this.$route.params.wedding}/${images_name}`
        this.$modal.show('example')
      }
    },
    rotate(){
      this.rotation -= 90
      // this.modalHeight = 'auto'
      // this.modalWidth = 'auto'
      // console.log('rotated')
    }
  },
};
</script>

<style scoped>
  .gfg {
    width:auto;
    text-align:center;
    padding:20px;
  }
  img {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }
  .bg-wedding-cover-1{
    background-image:url(/images/andri-novel/foto1-min.jpg);
  }
  .mt-5{
    margin-top: 20px;
  }

  .float-right{
    float: right;
  }

  .join-invite{
    margin-left: 58px;
  }

  .wedding-event{
    padding-top: 50px;
  }

  @media screen and (max-width: 768px) {
    .bg-wedding-cover-1{
      background-image:url(/images/andri-novel/bg-wedding-mobile.jpg);
    }
    .float-right{
      float: inherit;
    }

    .join-invite{
      margin-left: 2px;
    }

    .mobile-view{
      display:block;
    }
  }
</style>
