<template>
  <div v-if="Object.keys($route.query).length !== 0" id="fh5co-started" class="fh5co-bg" style="background-image:url(images/andri-novel/gallery-9.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>{{$store.state.guest.guestDetails.rsvp !== 'Y' ? 'Are You Attending?' : 'Thank you for reservation.'}}</h2>
          <p>{{$store.state.guest.guestDetails.rsvp !== 'Y' ? `Please Fill-up the form to notify you that you're attending. Thanks.` : 'We sincerely look forward to welcoming you.'}}</p>
        </div>
      </div>
      <div v-if="$store.state.guest.guestDetails.rsvp !== 'Y'" class="row animate-box">
        <div class="col-md-10 col-md-offset-1">
          <client-only>
            <ValidationObserver ref="form" v-slot="{ handleSubmit }">
              <form class="form-inline" @submit.prevent="handleSubmit(onSubmit)">
                <div class="col-md-12 col-sm-4">
<!--                  <ValidationProvider rules="required" v-slot="{ errors }">-->
<!--                    <div class="form-group">-->
<!--                      <label for="Nama">{{$t("booking.nama_pemesan")}}</label>-->
<!--                      <input v-model="user.name" type="text" :class="[{'req-validate': errors.length > 0, 'form-control': true}, errors.length > 0 ? 'is-invalid' : user.name.length > 0 ? 'is-valid' : '' ]" id="Nama" :placeholder="$t('booking.p_nama_anda')">-->
<!--                      <span class="invalid-feedback">{{ errors[0] }}</span>-->
<!--                    </div>-->
<!--                  </ValidationProvider>-->
                  <div class="form-group">
                    <label for="name" class="sr-only">Name</label>
                    <input disabled type="name" class="form-control" id="name" placeholder="Name" v-model="guestName"/>
                  </div>
                </div>
                <div class="col-md-12 col-sm-4">
                  <div class="form-group">
                    <label for="phone" class="sr-only">Guest Phone Number</label>
                    <input disabled type="name" class="form-control" id="phone" placeholder="Guest Phone Number" v-model="guestPhoneNumber" />
                  </div>
                </div>
    <!--            <div class="col-md-12 col-sm-4">-->
    <!--              <div class="form-group">-->
    <!--                <label for="partner" class="sr-only">Guest Partner Name</label>-->
    <!--                <input type="email" class="form-control" id="partner" placeholder="Partner Name" />-->
    <!--              </div>-->
    <!--            </div>-->
                <div class="col-md-12 col-sm-4">
                  <ValidationProvider rules="pax" v-slot="{ errors }">
                    <div class="form-group">
                      <label for="pax" class="sr-only">Email</label>
                      <select id="pax" v-model="numberPax" :class="[{'req-validate': errors.length > 0, 'form-control': true}, errors.length > 0 ? 'is-invalid' : numberPax.length > 0 ? 'is-valid' : '' ]">
                        <option disabled value="0">Jumlah tamu (termasuk anda) | maksimal {{guest_max_pax}} orang</option>
                        <option v-for="pax in guest_max_pax" :key="pax" :value="pax">{{pax}}</option>
                      </select>
                      <span class="invalid-feedback text-red">{{ errors[0] }}</span>
      <!--                <input type="email" class="form-control" id="pax" placeholder="Number of Pax" />-->
                    </div>
                  </ValidationProvider>
                </div>
                <div class="col-md-12 col-sm-4">
                  <ValidationProvider rules="required|email" v-slot="{ errors }">
                  <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input v-model="email" type="text" :class="[{'req-validate': errors.length > 0, 'form-control': true}, errors.length > 0 ? 'is-invalid' : email.length > 0 ? 'is-valid' : '' ]" id="email" placeholder="Email">
                    <span class="invalid-feedback text-red">{{ errors[0] }}</span>
                  </div>
                  </ValidationProvider>
<!--                  <div class="form-group">-->
<!--                    <label for="name" class="sr-only">Email</label>-->
<!--                    <input type="email" class="form-control" id="email" placeholder="Email" />-->
<!--                  </div>-->
                </div>
                <div class="col-md-4 col-sm-4">
                  <button @click="btnIsAttend('Y')" type="submit" class="btn btn-default btn-block">Saya hadir</button>
                </div>
                <div class="col-md-4 col-sm-4">
                  <button @click="btnIsAttend('N')" class="btn btn-default btn-block bg-btn-x">Saya tidak hadir</button>
                </div>
          </form>
            </ValidationObserver>
          </client-only>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    submitAttend: false,
    guestName: "",
    guestPhoneNumber: "",
    // guestPartnerName: "",
    numberPax: 0,
    guest_max_pax: 1,
    email: "",
    isAttend: 'N'

  }),
  mounted() {
    this.guestName = this.$store.state.guest.guestDetails.guest_name
    this.guest_max_pax = this.$store.state.guest.guestDetails.guest_max_pax
    this.guestPhoneNumber = this.$store.state.guest.guestDetails.guest_phone
    // this.guestName = this.$store.state.guest.guestDetails.guest_name
    // console.log(Object.keys(this.$route.query).length)
  },
  methods: {
    btnIsAttend(status){
      this.isAttend = status
      if (status === 'N'){
        this.postData()
        // console.log(status)
      }
    },
    async onSubmit() {
      this.postData()
    },
    async postData(){
      let data = {
        rsvp: this.isAttend,
        guest_id: this.$store.state.guest.guestDetails.id,
        guest_unique_id: this.$store.state.guest.guestDetails.guest_unique_id,
        fid_event: this.$store.state.guest.guestDetails.fid_event,
        event_unique_id: this.$store.state.guest.guestDetails.event_unique_id,
        guest_email: this.email,
        guest_pax: this.numberPax,
      }

      if (this.$route.query.barcode !== undefined){
        await this.$store.dispatch('guest/updateReservation', data)
          .then((res) => {
            console.log(res)
            this.$nuxt.$router.push(`andrinovel/rsvp?barcode=${this.$store.state.guest.guestDetails.guest_unique_id}`)
            // location.href = `andrinovel/rsvp?barcode=${this.$store.state.guest.guestDetails.guest_unique_id}`
          })
      }
    }
  }
};
</script>

<style scoped>
  .bg-btn-x{
    background: darkgoldenrod !important;
  }
  .text-red{
    color: red;
  }
</style>
