<template>
  <div>
    <!-- <div class="fh5co-loader"></div> -->
    <nuxt/>
  </div>
</template>

<script>
export default {
  // middleware: ['redirect'],
  head: {
    title: 'Wedding - Andri & Novel by Luvemedia',
    meta: [
      { charset: 'utf-8' },
      { 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { name: 'description', content: 'Weeding Andri & Novel' },
      { name: 'keywords', content: 'weeding, weeding organizer' },
      { name: 'author', content: '@luvemedia' },
      { name: 'og:title', content: '' },
      { name: 'og:image', content: '' },
      { name: 'og:url', content: '' },
      { name: 'og:site_name', content: '' },
      { name: 'og:description', content: '' },
      { name: 'twitter:title', content: '' },
      { name: 'twitter:image', content: '' },
      { name: 'twitter:url', content: '' },
      { name: 'twitter:card', content: '' },
    ],
    link: [
      { rel: "stylesheet", type: 'text/css', href: "https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700" },
      { rel: "stylesheet", type: 'text/css', href: "https://fonts.googleapis.com/css?family=Sacramento" },
    ],
    script: [
        {
        src: "/js/jquery.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.easing.1.3.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/bootstrap.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.waypoints.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/owl.carousel.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.countTo.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.stellar.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.magnific-popup.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/magnific-popup-options.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/simplyCountdown.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/main.js",
        type: "text/javascript",
        body: true,
        defer: true
      }
    ],
    afterNavigation: (metaInfo) => {
      setTimeout(function(){
        $(window.animateContent);
      }, 100)
    },
  }
}
</script>
