<template>
  <div>
    <!-- <div class="fh5co-loader"></div> -->
    <div id="page">
      <nav class="fh5co-nav" role="navigation">
        <div class="container">
          <div class="row">
            <div class="col-xs-2">
              <div id="fh5co-logo"><a href="index.html">Wedding<strong>.</strong></a></div>
            </div>
<!--            <div class="col-xs-10 text-right menu-1">-->
<!--              <ul>-->
<!--                <li class="active"><a href="/">Home</a></li>-->
<!--                <li><a href="/about">Story</a></li>-->
<!--                <li class="has-dropdown">-->
<!--                  <a href="/services">Services</a>-->
<!--                  <ul class="dropdown">-->
<!--                    <li><a href="#">Web Design</a></li>-->
<!--                    <li><a href="#">eCommerce</a></li>-->
<!--                    <li><a href="#">Branding</a></li>-->
<!--                    <li><a href="#">API</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--                <li class="has-dropdown">-->
<!--                  <a href="/gallery">Gallery</a>-->
<!--                  <ul class="dropdown">-->
<!--                    <li><a href="#">HTML5</a></li>-->
<!--                    <li><a href="#">CSS3</a></li>-->
<!--                    <li><a href="#">Sass</a></li>-->
<!--                    <li><a href="#">jQuery</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--                <li><a href="/contact">Contact</a></li>-->
<!--                <li><a href="/reservation">Reservation</a></li>-->
<!--              </ul>-->
<!--            </div>-->
          </div>

        </div>
      </nav>

      <Nuxt/>

      <footer id="fh5co-footer" role="contentinfo">
        <div class="container">

          <div class="row copyright">
            <div class="col-md-12 text-center">
              <p>
                <small class="block">© 2020 InviteMe. All Rights Reserved.</small>
                <small class="block">Powered by <a href="https://theinviteme.com/" target="_blank">@luvemedia</a>
<!--                  <a href="http://unsplash.co/" target="_blank">Unsplash</a>-->
                </small>
              </p>
<!--              <p>-->
<!--                <ul class="fh5co-social-icons">-->
<!--                  <li><a href="#"><i class="icon-twitter"></i></a></li>-->
<!--                  <li><a href="#"><i class="icon-facebook"></i></a></li>-->
<!--                  <li><a href="#"><i class="icon-linkedin"></i></a></li>-->
<!--                  <li><a href="#"><i class="icon-dribbble"></i></a></li>-->
<!--                </ul>-->
<!--              </p>-->
            </div>
          </div>

        </div>
      </footer>
    </div>

    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
  </div>
</template>

<script>
export default {
  middleware: ['redirect'],
  head: {
    title: 'Wedding - Andri & Novel by Luvemedia',
    meta: [
      { charset: 'utf-8' },
      { 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { name: 'description', content: 'Weeding Andri & Novel' },
      { name: 'keywords', content: 'weeding, weeding organizer' },
      { name: 'author', content: '@luvemedia' },
      { name: 'og:title', content: '' },
      { name: 'og:image', content: '' },
      { name: 'og:url', content: '' },
      { name: 'og:site_name', content: '' },
      { name: 'og:description', content: '' },
      { name: 'twitter:title', content: '' },
      { name: 'twitter:image', content: '' },
      { name: 'twitter:url', content: '' },
      { name: 'twitter:card', content: '' },
    ],
    link: [
      { rel: "stylesheet", type: 'text/css', href: "https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700" },
      { rel: "stylesheet", type: 'text/css', href: "https://fonts.googleapis.com/css?family=Sacramento" },
    ],
    script: [
        {
        src: "/js/jquery.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.easing.1.3.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/bootstrap.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.waypoints.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/owl.carousel.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.countTo.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.stellar.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.magnific-popup.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/magnific-popup-options.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/simplyCountdown.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/main.js",
        type: "text/javascript",
        body: true,
        defer: true
      }
    ],
    afterNavigation: (metaInfo) => {
      setTimeout(function(){
        $(window.animateContent);
      }, 100)
    },
  }
}
</script>
