<template>
  <div>
    <!-- <div class="fh5co-loader"></div> -->
    <div id="page">
      <nav class="fh5co-nav" role="navigation">
        <div class="container">
          <div class="row">
            <div class="col-xs-2">
              <div id="fh5co-logo"><a href="index.html">Wedding<strong>.</strong></a></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
              <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">Story</a></li>
                <li class="has-dropdown">
                  <a href="/services">Services</a>
                  <ul class="dropdown">
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">eCommerce</a></li>
                    <li><a href="#">Branding</a></li>
                    <li><a href="#">API</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="/gallery">Gallery</a>
                  <ul class="dropdown">
                    <li><a href="#">HTML5</a></li>
                    <li><a href="#">CSS3</a></li>
                    <li><a href="#">Sass</a></li>
                    <li><a href="#">jQuery</a></li>
                  </ul>
                </li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/reservation">Reservation</a></li>
              </ul>
            </div>
          </div>
          
        </div>
      </nav>

      <Nuxt/>

      <footer id="fh5co-footer" role="contentinfo">
        <div class="container">

          <div class="row copyright">
            <div class="col-md-12 text-center">
              <p>
                <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
                <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
              </p>
              <p>
                <ul class="fh5co-social-icons">
                  <li><a href="#"><i class="icon-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-linkedin"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble"></i></a></li>
                </ul>
              </p>
            </div>
          </div>

        </div>
      </footer>
    </div>

    <div class="gototop js-top">
      <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>
  <!-- <script defer src="js/jquery.min.js"></script>
	<script defer src="js/jquery.easing.1.3.js"></script>
	<script defer src="js/bootstrap.min.js"></script>
	<script defer src="js/jquery.waypoints.min.js"></script>
	<script defer src="js/owl.carousel.min.js"></script>
	<script defer src="js/jquery.countTo.js"></script>
	<script defer src="js/jquery.stellar.min.js"></script>
	<script defer src="js/jquery.magnific-popup.min.js"></script>
	<script defer src="js/magnific-popup-options.js"></script>
	<script defer src="js/simplyCountdown.js"></script>
	<script defer src="js/main.js"></script> -->
  </div>
</template>

<script>
export default {
  head: {
    title: 'Wedding - 100% Free Fully Responsive HTML5 Template by FREEHTML5.co',
    meta: [
      { charset: 'utf-8' },
      { 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      { name: 'description', content: 'Free HTML5 Template by FREEHTML5.CO' },
      { name: 'keywords', content: 'free html5, free template, free bootstrap, html5, css3, mobile first, responsive' },
      { name: 'author', content: 'FREEHTML5.CO' },
      { name: 'og:title', content: '' },
      { name: 'og:image', content: '' },
      { name: 'og:url', content: '' },
      { name: 'og:site_name', content: '' },
      { name: 'og:description', content: '' },
      { name: 'twitter:title', content: '' },
      { name: 'twitter:image', content: '' },
      { name: 'twitter:url', content: '' },
      { name: 'twitter:card', content: '' },
    ],
    link: [
      { rel: "stylesheet", type: 'text/css', href: "https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700" },
      { rel: "stylesheet", type: 'text/css', href: "https://fonts.googleapis.com/css?family=Sacramento" },
    ],
    script: [
        {
        src: "/js/jquery.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.easing.1.3.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/bootstrap.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.waypoints.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/owl.carousel.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.countTo.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.stellar.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/jquery.magnific-popup.min.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/magnific-popup-options.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/simplyCountdown.js",
        type: "text/javascript",
        body: true,
        defer: true
      },
      {
        src: "/js/main.js",
        type: "text/javascript",
        body: true,
        defer: true
      }
    ]
  }
}
</script>