<template>
  <div>
    <header
      id="fh5co-header"
      class="fh5co-cover fh5co-cover-sm"
      role="banner"
      style="background-image:url(images/img_bg_1.jpg);"
    >
      <div class="overlay"></div>
      <div class="fh5co-container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
              <div class="display-tc animate-box" data-animate-effect="fadeIn">
                <h1>Contact Us</h1>
                <h2>
                  Free HTML5 templates Made by
                  <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="fh5co-couple" class="fh5co-section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <h2>Hello!</h2>
            <h3>November 28th, 2016 New York, USA</h3>
            <p>We invited you to celebrate our wedding</p>
          </div>
        </div>
        <div class="couple-wrap animate-box">
          <div class="couple-half">
            <div class="groom">
              <img src="images/groom.jpg" alt="groom" class="img-responsive" />
            </div>
            <div class="desc-groom">
              <h3>Joefrey Mahusay</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
            </div>
          </div>
          <p class="heart text-center">
            <i class="icon-heart2"></i>
          </p>
          <div class="couple-half">
            <div class="bride">
              <img src="images/bride.jpg" alt="groom" class="img-responsive" />
            </div>
            <div class="desc-bride">
              <h3>Sheila Mahusay</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fh5co-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-push-6 animate-box">
            <h3>Get In Touch</h3>
            <form action="#">
              <div class="row form-group">
                <div class="col-md-6">
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control" placeholder="Your firstname" />
                </div>
                <div class="col-md-6">
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control" placeholder="Your lastname" />
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label for="email">Email</label>
                  <input
                    type="text"
                    id="email"
                    class="form-control"
                    placeholder="Your email address"
                  />
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label for="subject">Subject</label>
                  <input
                    type="text"
                    id="subject"
                    class="form-control"
                    placeholder="Your subject of this message"
                  />
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label for="message">Message</label>
                  <textarea
                    name="message"
                    id="message"
                    cols="30"
                    rows="10"
                    class="form-control"
                    placeholder="Write us something"
                  ></textarea>
                </div>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary" />
              </div>
            </form>
          </div>
          <div class="col-md-5 col-md-pull-5 animate-box">
            <div class="fh5co-contact-info">
              <h3>Contact Information</h3>
              <ul>
                <li class="address">
                  198 West 21th Street,
                  <br />Suite 721 New York NY 10016
                </li>
                <li class="phone">
                  <a href="tel://1234567920">+ 1235 2355 98</a>
                </li>
                <li class="email">
                  <a href="mailto:info@yoursite.com">info@yoursite.com</a>
                </li>
                <li class="url">
                  <a href="http://gettemplates.co">gettemplates.co</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="map" class="fh5co-map"></div>
  </div>
</template>

<script>
export default {
  layout: 'with-header',
};
</script>
