<template>
  <div>
    <header
      id="fh5co-header"
      class="fh5co-cover fh5co-cover-sm"
      role="banner"
      style="background-image:url(images/img_bg_1.jpg);"
    >
      <div class="overlay"></div>
      <div class="fh5co-container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
              <div class="display-tc animate-box" data-animate-effect="fadeIn">
                <h1>Reservation</h1>
                <h2>
                  Free HTML5 templates Made by
                  <a
                    href="http://freehtml5.co"
                    target="_blank"
                  >FreeHTML5.co</a>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="fh5co-section">
      <div class="container">
        <div class="row">
          <div v-if="submitAttend === false" class="col-md-12 animate-box">
            <h3>Reservation Form</h3>
            <form action="#">
              <div class="row form-group">
                <div class="col-md-12">
                  <label for="fname">Guest Name</label>
                  <input
                    v-model="guestName"
                    type="text"
                    id="fname"
                    class="form-control"
                    placeholder="Your name"
                  />
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label for="email">Guest Phone Number</label>
                  <input
                    v-model="guestPhoneNumber"
                    type="text"
                    id="phonenumber"
                    class="form-control"
                    placeholder="Your phonenumber"
                  />
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label for="subject">Guest Partner Name</label>
                  <input
                    v-model="guestPartnerName"
                    type="text"
                    id="subject"
                    class="form-control"
                    placeholder="Your partner name"
                  />
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label for="subject">Number of Pax</label>
                  <input
                    v-model="numberPax"
                    type="text"
                    id="subject"
                    class="form-control"
                    placeholder="number of pax"
                    value="1"
                  />
                  <span class="text-secondary text-sm">including your self</span>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label for="subject">Email</label>
                  <input
                    v-model="email"
                    type="text"
                    id="email"
                    class="form-control"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="form-group">
                <input type="button" value="NOT ATTEND" class="btn btn-danger" />
                <input
                  type="button"
                  @click="submitAttend = true"
                  value="ATTEND"
                  class="btn btn-primary"
                  :disabled="!guestName"
                />
              </div>
            </form>
          </div>
          <div v-else class="col-md-12 animate-box">
            <div
              style="display:flex; justify-content: center; text-align: center; width: 100%; flex-direction: column; align-items: center"
            >
              <h1>Thank you {{guestName}}</h1>Terimakasih telah bersedia hadir pada acara pernikahan Nope & Rory
              <br />Gunakan Barcode dibawah ini saat anda hadir pada acara pernikahan.
              <br />
              <qrcode :value="guestName" :options="{ width: 400 }"></qrcode>
              <span>Screen Capture dan simpan Barcode ini untuk menghadiri acara pernikahan</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'with-header',
  data() {
    return {
      submitAttend: false,
      guestName: "",
      guestPhoneNumber: "",
      guestPartnerName: "",
      numberPax: 1,
      email: "",
    };
  },
};
</script>
