<template>
  <div>
    <header
      id="fh5co-header"
      class="fh5co-cover fh5co-cover-sm"
      role="banner"
      style="background-image:url(images/img_bg_1.jpg);"
    >
      <div class="overlay"></div>
      <div class="fh5co-container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
              <div class="display-tc animate-box" data-animate-effect="fadeIn">
                <h1>Services</h1>
                <h2>
                  Free html5 templates Made by
                  <a
                    href="http://freehtml5.co"
                    target="_blank"
                  >FreeHTML5.co</a>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="fh5co-couple" class="fh5co-section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <h2>Hello!</h2>
            <h3>November 28th, 2016 New York, USA</h3>
            <p>We invited you to celebrate our wedding</p>
          </div>
        </div>
        <div class="couple-wrap animate-box">
          <div class="couple-half">
            <div class="groom">
              <img src="images/groom.jpg" alt="groom" class="img-responsive" />
            </div>
            <div class="desc-groom">
              <h3>Joefrey Mahusay</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
            </div>
          </div>
          <p class="heart text-center">
            <i class="icon-heart2"></i>
          </p>
          <div class="couple-half">
            <div class="bride">
              <img src="images/bride.jpg" alt="groom" class="img-responsive" />
            </div>
            <div class="desc-bride">
              <h3>Sheila Mahusay</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-services" class="fh5co-section-gray">
      <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>We Offer Services</h2>
            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
              <span class="icon">
                <i class="icon-calendar"></i>
              </span>
              <div class="feature-copy">
                <h3>We Organized Events</h3>
                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
              </div>
            </div>

            <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
              <span class="icon">
                <i class="icon-image"></i>
              </span>
              <div class="feature-copy">
                <h3>Photoshoot</h3>
                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
              </div>
            </div>

            <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
              <span class="icon">
                <i class="icon-video"></i>
              </span>
              <div class="feature-copy">
                <h3>Video Editing</h3>
                <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 animate-box">
            <div class="fh5co-video fh5co-bg" style="background-image: url(images/img_bg_3.jpg); ">
              <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo">
                <i class="icon-video2"></i>
              </a>
              <div class="overlay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <AttendingFooter />
  </div>
</template>

<script>
export default {
  layout: 'with-header',
};
</script>
